body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Image/diwali.jpg);
    background-size: cover;
}
.container {
    text-align: center;
    max-width: 650px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    animation: pulse 2s infinite;
    /* Multi-color gradient */
    background: linear-gradient(135deg, #074fbb, #ee2c05, #074fbb, #ff1515); 
     /* Clips the background to the text */
    -webkit-background-clip: text; 
    color: transparent;      
}
.message {
    font-size: 1.5rem;
    margin-top: 20px;
    /*Multi-color gradient */
    background: linear-gradient(135deg, #0a0a0afa, #d8063e, #3b2b7b, #d8063e); 
     /* Clips the background to the text */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    line-height: 1.5;
}
.regard {
    color: #000306;
    font-weight: bold; 
}
.highlight {
    color: rgb(8, 13, 151); 
    font-weight: bold; 
}
#revealMessage{
    background: linear-gradient(135deg, #000306, #ee2c05, #000f0e, #e80606);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.thank-you {
    font-size: 5rem;
    color: #fff;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    background: linear-gradient(135deg, #074fbb, #ee2c05, #074fbb, #ff1515); 
    /* Clips the background to the text */
   -webkit-background-clip: text; 
   color: transparent; 
}
/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 5rem; /* Reduce the font size for smaller screens */
    }
    .message {
        font-size: 1.2rem; /* Smaller font size for the message */
    }
    #revealMessage {
        font-size: 0.9rem; /* Smaller font size for the button */
        padding: 8px 16px; /* Adjust padding */
    }
    .thank-you {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem; /* Further reduce for very small screens */
    }
    .message {
        font-size: 1rem; /* Further reduce the message font size */
    }
    #revealMessage {
        font-size: 0.8rem; /* Even smaller button font size */
        padding: 6px 12px; /* Adjust padding */
    }
    .thank-you {
        font-size: 3rem;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
